<% slots.order("start_date ASC").each do |slot| %>
  <div class='slot-summary'>
    <p class="bolder"><%= slot.start_date.strftime(
      "Le %d/%m/%Y de %H:%M à #{slot.end_date.strftime('%H:%M')}"
      ) %></p>
    <p>Durée : <%= slot.duration %> minutes</p>
    <p>Nombre de candidats maximum : <%= slot.max_appointments %></p>
    <%= link_to "Supprimer ce créneau", property_slot_path(property_id: slot.property, id: slot, new_property: true), method: "delete" %>
  </div>
<% end %>

<%= link_to "Ajouter un créneau de visite", new_property_slot_path(property, redirect_path: "new_property"), class: "btn outline-btn-white" %>

<%= link_to "Valider et passer à l'étape suivante", property_share_path(property), class: "btn big-btn white-btn bg-primary" %>

