<div class="candidate-profile-details-wrapper">
  <div class="candidate-profile-details-section">
    <% if appointment.candidate.profile_picture.attached?%>
      <div class="profile-wrapper__informations__right mb1">
        <%= image_tag appointment.candidate.profile_picture, alt: 'profile picture' %>
      </div>
    <% else %>
      <div class="profile-wrapper__informations__right nopic mb1">
        <p> Aucune photo de profil </p>
      </div>
    <% end %>
    <% if appointment.candidate.first_name && appointment.candidate.last_name %>
      <h3> <%= appointment.candidate.first_name %> <%= appointment.candidate.last_name %> </h3>
    <% end %>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="fas fa-at"></i> Email</p>
    <p><%= appointment.candidate.email %></p>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="fas fa-phone-square-alt"></i> Tél</p>
    <%if appointment.candidate.phone_number %>
      <p><%= appointment.candidate.phone_number %></p>
    <% else %>
      <p><small><em>Non renseigné</em></small></p>
    <% end %>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="far fa-comment"></i> Message</p>
    <% if appointment.candidate_message && appointment.candidate_message != "" %>
      <p><em><%= simple_format(appointment.candidate_message) %></em></p>
    <% else %>
      <p><small><em>Aucun message</em></small></p>
    <% end %>
  </div>

  <% if appointment.property.owner_project == "rent" %>
    <div class="candidate-profile-details-section">

      <% if appointment.candidate_dossierfacile_folder.attached? %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location (réalisé via <%= link_to "DossierFacile", "https://www.dossierfacile.fr/", class:"primary", target: '_blank' %>)</p>
        <p class="mb1"><small><em>DossierFacile est une plateforme publique gratuite d'aide à la création de dossier de location 100% conforme à la loi. <br/>Elle joue le rôle de tiers de confiance entre locataires et propriétaires.</em></small></p>
        <div class="candidate-document mb1">
          <p><span class="text-muted">Dossier&nbsp;:</span>
            <%= appointment.candidate_dossierfacile_folder.filename %> 
            <%# if doc.previewable? %>
              <%= link_to raw("<i class='far fa-eye'></i>"), rails_blob_path(appointment.candidate_dossierfacile_folder, disposition: 'preview', target: '_blank') %>
            <%# end %> 
            <%= link_to raw("<i class='fas fa-download'></i>"), rails_blob_path(appointment.candidate_dossierfacile_folder, disposition: 'attachment') %>
          </p>
          <% if appointment.candidate_dossierfacile_link && appointment.candidate_dossierfacile_link != "" %>
            <p><span class="text-muted">Lien du dossier&nbsp;:</span> <%= link_to appointment.candidate_dossierfacile_link, appointment.candidate_dossierfacile_link, target: '_blank' %></p>
          <% end %>
        </div>
        <p class="green"><small> ✔️ Dossier complet</small></p>

      <% elsif appointment.candidate_dossierfacile_link && appointment.candidate_dossierfacile_link != "" %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location (réalisé via <%= link_to "DossierFacile", "https://www.dossierfacile.fr/", class:"primary", target: '_blank' %>)</p>
        <p class="mb1"><small><em>DossierFacile est une plateforme publique gratuite d'aide à la création de dossier de location 100% conforme à la loi. <br/>Elle joue le rôle de tiers de confiance entre locataires et propriétaires.</em></small></p>
        <p class="mb1"><span class="text-muted">Lien du dossier&nbsp;:</span> <%= link_to appointment.candidate_dossierfacile_link,appointment.candidate_dossierfacile_link, target: '_blank' %></p>
        <p class="green"><small> ✔️ Dossier complet</small></p>

      <% elsif appointment.candidate_documents.attached? %>
        <p class="bolder mb1"><i class="far fa-folder-open"></i> Dossier de location</p>
        <div class="mb1">
          <p class="text-muted">Liste des documents demandés pour un dossier 100% conforme à la loi&nbsp;:</p>
          <p><i class="fas fa-caret-right"></i> 1 pièce d'identité recto-verso</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de domicile</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de situation professionnelle</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de ressources</p>
          <p><i class="fas fa-caret-right"></i> Dernier avis d’imposition</p>
        </div>
        <p class="text-muted">Documents transmis&nbsp;:</p>
        <% appointment.candidate_documents.each do |doc| %>
          <div class="candidate-document">
            <p>
              <%= doc.filename %> 
              <%# if doc.previewable? %>
                <%= link_to raw("<i class='far fa-eye'></i>"), rails_blob_path(doc, disposition: 'preview'), target: '_blank' %>
              <%# end %> 
              <%= link_to raw("<i class='fas fa-download'></i>"), rails_blob_path(doc, disposition: 'attachment') %>
            </p>
          </div>
        <% end %>
        <p><progress id="file" max="5" value="<%=appointment.candidate_documents.size%>" class="<%=appointment.candidate_documents.size > 4 ? 'full' : nil %>"> </progress></p>
        <% if appointment.candidate_documents.size < 5 %>
          <p><small><em>⚠️ Dossier incomplet. Nombre de document(s) transmis : <%= appointment.candidate_documents.size %> / 5</em></small></p>
        <% else %>
          <p class="green"><small> ✔️ Dossier complet</small></p>
        <% end %>
      
      <% else %>
        <p class="bolder mb1"><i class="far fa-folder-open"></i> Dossier de location</p>
        <div class="mb1">
          <p class="text-muted">Liste des documents demandés pour un dossier 100% conforme à la loi&nbsp;:</p>
          <p><i class="fas fa-caret-right"></i> 1 pièce d'identité recto-verso</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de domicile</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de situation professionnelle</p>
          <p><i class="fas fa-caret-right"></i> 1 justificatif de ressources</p>
          <p><i class="fas fa-caret-right"></i> Dernier avis d’imposition</p>
        </div>
        <small><p><em>⚠️ Ce candidat n'a pas encore transmis de documents</em></p></small>
      <% end %>
    </div>
  <% end %>

  <div class="form-page">
    <div class="form-page__form">
      <div class="candidate-profile-details-section text-center">
        <p><i class="fas fa-info"></i> <span class="bolder">Après la visite, le candidat pourra confirmer ou non son intérêt pour votre logement</span></p>
        <hr class="hr-black mw80 mb2 mt2">
        <%if appointment.property.owner_project == "rent"%>
          <p> Cette candidature ne vous convient pas ? Le dossier est incomplet ? Vous avez déjà validé une autre candidature ?</p>
        <%else%>
          <p> Cette candidature ne vous convient pas ? Vous avez déjà validé une offre d'achat ?</p>
        <%end%>
        <%= form_with model: appointment, url: appointment_owner_decision_path(appointment_id: appointment, id: appointment), method: "patch", local: true, class: "form", id: "item-form", multipart: true do |f| %>
          <%= f.hidden_field(:is_accepted, value:"false") %>
          <%= f.submit "Refuser la candidature", data: {confirm: "Êtes-vous sûr ?"}, class:"btn small-btn white-btn bg-warning" %>
        <%end%>
        <p><small><em><i class="fas fa-info-circle"></i> Le candidat sera automatiquement prévenu de votre décision et de l'annulation sa visite</em></small></p>
      </div>
    </div>
  </div>

</div>