<div class="candidate-profile-details-wrapper">
  <div class="candidate-profile-details-section">
    <% if appointment.candidate.profile_picture.attached?%>
      <div class="profile-wrapper__informations__right">
        <%= image_tag appointment.candidate.profile_picture, alt: 'profile picture' %>
      </div>
    <% else %>
      <div class="profile-wrapper__informations__right nopic">
        <p> Aucune photo de profil </p>
      </div>
    <% end %>
    <% if appointment.candidate.first_name && appointment.candidate.last_name %>
      <h3> <%= appointment.candidate.first_name %> <%= appointment.candidate.last_name %> </h3>
    <% else %>
      <p> Ce candidat n'a pas encore renseigné son nom. </p>
    <% end %>
  </div>

  <div class="candidate-profile-details-section">
    <p> Email : <%= appointment.candidate.email %> </p>
  </div>

  <div class="candidate-profile-details-section">
    <%if appointment.candidate_message %>
      <p> Message du candidat : </p>
      <p><em><%= appointment.candidate_message %></em></p>
    <%else%>
      <p>Ce candidat n'a pas envoyé de message.</p>
    <%end%>
  </div>

  <%# Insérer ici les informations relatives aux documents %>
  <div class="candidate-profile-details-section">
    <p> Dossier incomplet ? </p>
    <%= link_to "Refuser le rendez-vous", appointment_path(appointment), method: "delete", data: {confirm: "Êtes-vous sûr ? Cette action est irréversible."} %>
    <%# Modifier le redirect_to suite à la suppression de l'Appointment %>
  </div>
</div>