<div class="slot-candidate-wrapper">
  <div class="slot-candidate-wrapper__title pt1">
    <h1>Etape 1/3 : sélection d'un créneau disponible</h1>
    <h2>Sélectionnez un créneau de visite parmi les propositions disponibles.</h2>
    <p>Les créneaux disponibles sont mis à jour automatiquement. 
      Si aucun d’eux ne vous convient, des créneaux peuvent se libérer en cas de modification ou annulation de candidats.
    </p>
  </div>
  <div class="slot-candidate-wrapper__calendar mt2">
    <% if @property.already_has_appointment?(current_user) %>
      <%= week_calendar(events:@slots, attribute: :start_date) do |date, slots| %>
        <div class="property-wrapper__right__date">
          <%= date.strftime("%d") %> <%= @date_arr[date.strftime("%m").to_i]%>
        </div>
        <% slots.each do |slot| %>
          <%= render(partial: "properties/slot-card", locals: { slot: slot })%>
        <% end %>
      <% end %>
        <div class="slot-candidate-wrapper__calendar__title text-center"> 
          <p> Vous avez un créneau réservé pour le <%= @property.appointments.find_by(candidate: current_user).slot.start_date.strftime("%d/%m/%Y %H:%M") %> </p>
          <p><%= link_to "Choisir un autre créneau", appointment_path(id:@property.appointments.find_by(candidate: current_user), property:@property), method: "delete" %> </p>
        </div>

    <% else %>    
      <%= week_calendar(events:@slots, attribute: :start_date) do |date, slots| %>
        <div class="property-wrapper__right__date">
          <%= date.strftime("%d") %> <%= @date_arr[date.strftime("%m").to_i]%>
        </div>
        <% slots.each do |slot| %>
          <%= link_to render(partial: "properties/slot-card", locals: { slot: slot }), appointments_path(param1: slot.id, property:@property), method: "post" %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>