<div class="form-page">
  <div class="form-page__form">
    <h3>Ajoutez un nouveau créneau de visite</h3>
    <br/>
    <div class='form-group'>
      <%= text_field_tag :start_date, '', id:'pickadate' %> 
    </div>
    <%= form_with model: @slot, url: [@property, @slot], local: true, class: "form", id: "item-form" do |f| %>
      <%= f.hidden_field :start_date, value: '', id: 'start_date' %>
      <br/>
      <div class="form-group">
        <%= f.label "Durée (en minutes)", class: "form-label" %>
        <%= f.number_field :duration, class: "form-control", in: 15..180, step: 15, required: true %>
      </div>
      <br/>
      <div class="form-group">
        <%= f.label "Nombre de visiteurs maximum", class: "form-label" %>
        <%= f.text_field :max_appointments, placeholder: "Indiquez un nombre maximum de visiteurs pour ce créneau", required: true %>
      </div>
      <br/>
      <div class="form-group">
        <%= f.submit "Ajouter le créneau", class: "btn white-btn bg-primary" %>
      </div>
    <%end%>
  </div>
</div>

<%= text_field_tag 'test', 'coucou', id:'pickadate' %>

<%= javascript_include_tag 'datepicker' %>