<h1>Slots#new</h1>
<p>Find me in app/views/slots/new.html.erb</p>
<h1>Slots#new</h1>
<p>Find me in app/views/slots/new.html.erb</p>
form_with(model: @activity, url: [@trip, @activity])
<%= form_with model: @slot, url: [@property, @slot], local: true, class: "form", id: "item-form", multipart: true do |f| %>
  <div class="form-group">
    <%= f.label "Date de début", class: "form-label" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Donnez un titre à votre logement", required: true %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.label "Ville", class: "form-label" %>
    <%= f.text_field :city, class: "form-control", placeholder: "Indiquez la ville de votre logement", required: true %>
  </div>
  <br/>
  <div class="form-group text-center my-3">
    <%= f.label "Ajouter une photo de votre logement", class: "form-label" %>
    <%= f.file_field :property_picture, is: "drop-files", label: "Déposer la photo de votre logement", help: "Vous pouvez glisser-déposer votre photo ici", accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <br/>
  <div class="text-center">
    <%= f.submit "Valider et passer à l'étape suivante", class: "btn primary" %>
  </div>
<%end%>