<%= link_to raw("<i class='fas fa-chevron-left'></i> Retour"), new_slots_property_path(@property), class: "return-link pt1 pl4" %>
<div class="form-page">
  <div class="form-page__form">
    <h3>Ajoutez un nouveau créneau de visite</h3>
    <h6><em>Vous pourrez modifier ce créneau depuis votre espace perso.</em></h6>
    <br/>
    <div class='form-group'>
      <input type='text' id='pickadate', class='form-control'></input>
    </div>
    <%= form_with model: @slot, url: [@property, @slot], local: true, class: "form", id: "item-form" do |f| %>
      <%= f.hidden_field :start_date, value: @date, id: 'start_date' %>
      <br/>
      <div class="form-group">
        <%= f.label "Durée (en minutes) *", class: "form-label" %>
        <%= f.select :duration, @minutes.collect { |m| [m, m] }, { include_blank: false } %>
      </div>
      <br/>
      <div class="form-group">
        <%= f.label "Nombre de visiteurs maximum *", class: "form-label" %>
        <%= f.number_field :max_appointments, placeholder: "Indiquez un nombre maximum de visiteurs pour ce créneau", min: 0, max: 50, required: true %>
      </div>
      <br/>
      <%= f.hidden_field :redirect_path, :value => "check if new immolib property process" %>
      <div class="form-group"> 
        <%= f.submit "Ajouter le créneau", class: "btn white-btn bg-primary" %>
      </div>
    <%end%>
  </div>
</div>

<%= javascript_include_tag 'datepicker' %>