<div class="slot-wrapper pl4 pr4 pt1">
  <div class="slot-wrapper-left">
    <div class="slot-wrapper__title">
      <%= link_to raw("<i class='fas fa-chevron-left'></i> Retour"), property_path(params[:property_id]), class: "return-link" %>
      <h1 class="primary mb1">Mes candidats</h1>
      <p class="bolder"> Créneau du <%= @slot.start_date.strftime("%d") %> <%= @date_arr[@slot.start_date.strftime("%m").to_i] %> <%= @slot.start_date.strftime("%Y") %></p>
      <p class="bolder"> <%= @slot.start_date.strftime("%H:%M") %> - <%= @slot.end_date.strftime("%H:%M") %></p>
      <%if @slot.start_date > DateTime.now%>
        <%= link_to 'Editer le créneau', edit_property_slot_path(@slot), class:"btn white-btn bg-primary small-btn" %>
      <%end%>
    </div>
    <div class="slot-wrapper__content">
      <% if @slot.appointments.size > 0 %>
        <% firstSlot = true %>
        <% @slot.appointments.each do |a| %>
          <%= link_to render(partial: "candidate_list", locals: {a: a, first: firstSlot}), property_slot_candidate_details_path(@slot.property, @slot, appointment: a), remote: true %>
          <% firstSlot = false %>
        <% end %>
      <% else %>
        <p><em> Vous n'avez pas de candidat inscrit sur ce créneau. </em></p>
      <% end %>
    </div>
  </div>

  <div class="slot-wrapper-right">
    <%# Ajax for candidate profile details%>
    <% if @slot.appointments.size > 0 %>
      <%= render "show_candidate_details", appointment: @slot.appointments.first %>
    <% end %>
  </div>
</div>