<div class="home">

  <div class="home-intro">
    <div class='home-intro__text'>
      <div class="home-intro__title">
        <h2 class="typewriter-container">
          Vendez ou louez votre logement
          <span
            class="typewriter"
            data-type='["en toute simplicité", "sans agence", "sans commissions"]'
          >
            <span class="wrapper"></span>
          </span>
        </h2>
        <p><i class="fas fa-check-circle"></i> Prise de rendez-vous en ligne et centralisation des candidatures</p>
        <p><i class="fas fa-check-circle"></i> Collecte de dossiers de location 100% conformes à la loi</p>
        <p><i class="fas fa-check-circle"></i> Relances emails automatiques avant chaque visite et en cas de dossiers incomplets</p>
        <p><i class="fas fa-check-circle"></i> Validation en ligne d'un dossier de location ou d'une offre d'achat</p>
        <p><i class="fas fa-check-circle"></i> Aucune commission, aucun engagement. <span class="bolder">L'agent immobilier, c'est vous&nbsp;!</span></p>
      </div>
      <div class="home-buttons">  
        <%= link_to "Enregistrer mon logement", welcome_user_path, class: "btn big-btn primary" %>
        <%= link_to "En savoir plus", "#benefits-1", class: "btn outline-btn big-btn" %>
      </div>
    </div>
  </div>

  <section class="benefits-section" id='benefits-1'>
    <h2 class="benefits-section__title primary">
      Organisez vos visites en toute simplicité
    </h2>
    <h3 class="benefits-section__subtitle bolder text-center">
      Fini les échanges d'emails et appels téléphoniques fastidieux
    </h3>
    <div class="benefits-section__body">
      <div class="item">
        <%= image_tag 'calendar.svg' %>
        <p class="item__title">Gardez le contrôle de votre agenda</p>
        <p class="item__content">
          Déterminez les créneaux de visites et le nombre de candidats maximum par visite
        </p>
      </div>

      <div class="item">
        <%= image_tag 'timeline.svg' %>
        <p class="item__title">Accédez en un clin d'œil à la liste des candidats</p>
        <p class="item__content">
          Découvrez le profil de chacun d'eux, leur projet et leur dossier en cas de location
        </p>
      </div>

      <div class="item">
        <%= image_tag 'alarm_clock.svg' %>
        <p class="item__title">Évitez les rendez-vous manqués</p>
        <p class="item__content">
          A l'approche d'une visite, les candidats sont relancés automatiquement par email
        </p>
      </div>

    </div>
  </section>

  <section class="benefits-section benefits-section--white">
    <h2 class="benefits-section__title">
      Collectez les dossiers en quelques clics
    </h2>
    <h3 class="benefits-section__subtitle bolder text-center">
      Fini l'archivage chaotique et les dossiers incomplets
    </h3>
    <div class="benefits-section__body" id='benefits-2'>
      <div class="item">
        <%= image_tag 'import.svg' %>
        <p class="item__title">Un dépôt des pièces simple et guidé pour vos candidats</p>
        <p class="item__content">
          Les candidats transmettent un dossier 100% conforme à la loi, via upload des pièces ou <%= link_to "DossierFacile", "https://www.dossierfacile.fr/", class:"light-white", target: '_blank' %>
        </p>
      </div>

      <div class="item">
        <%= image_tag 'inspection.svg' %>
        <p class="item__title">Un suivi en ligne de l'état d'avancée des candidatures</p>
        <p class="item__content">
          Visualisez le % d'avancement de chaque dossier et accédez en ligne à l'ensemble des pièces
        </p>
      </div>

      <div class="item">
        <%= image_tag 'refresh.svg' %>
        <p class="item__title">Des relances automatiques pour un dossier complet</p>
        <p class="item__content">
          A l'approche d'une visite, les candidats au dossier incomplet sont relancés automatiquement par email
        </p>
      </div>
    </div>
  </section>

  <section class="benefits-section last-section"  id='last-section'>
    <h2 class="benefits-section__title primary">
      Gardez le contrôle
    </h2>
    <h3 class="benefits-section__subtitle bolder text-center">
      Fini les agences, les commissions, les engagements. L'agent immobilier, c'est vous&nbsp;!
    </h3>
    <div class="benefits-section__body">
      <div class="item-background">
        <p class="last-section-icon i1"> 1 </p>
        <p class="item-background__title">Je renseigne les infos clés de mon logement</p>
        <p class="item-background__content">
          Titre, photo, liens de vos annonces en ligne, instructions pour les visites... les candidats seront guidés et assurés d'avoir toutes les informations nécessaires.
        </p>
      </div>

      <div class="item-background">
        <p class="last-section-icon i2"> 2 </p>
        <p class="item-background__title">Je sélectionne mes créneaux de visites</p>
        <p class="item-background__content">
          Vous fixez le nombre de candidats maximum par créneau. Leur disponibilité est mise à jour automatiquement après chaque prise de RDV.
        </p>
      </div>

      <div class="item-background">
        <p class="last-section-icon i3"> 3 </p>
        <p class="item-background__title">Je partage le lien immolib de mon logement</p>
        <p class="item-background__content">
          Les candidats suivent un parcours rapide et guidé : prise de RDV, dépôt du dossier, confirmation d'intêret ou offre d'achat... vous centralisez toutes les réponses !
        </p>
      </div>

      <div class="item-background">
        <p class="last-section-icon i4"> 4 </p>
        <p class="item-background__title">Je réalise mes visites et analyse les candidatures</p>
        <p class="item-background__content">
          Les candidats sont automatiquement relancés avant une visite et en cas de dossier incomplet. Vous gardez la main jusqu'à la validation d'un dossier ou d'une offre.
        </p>
      </div>
    </div>

    <div class="text-center mb4">
      <% if user_signed_in? %>
        <%= link_to "Enregistrer mon logement", welcome_user_path, class: "btn big-btn bg-primary white-btn" %>
      <% else %>
        <%= form_with url: new_user_registration_path, local: true, method: :get, class: "form", id: "item-form" do |f| %>
          <%= f.email_field :email, placeholder: "Entrez votre adresse e-mail", class: "text-center" %>
          <%= f.submit "Enregistrer mon logement", class: "btn big-btn bg-primary white-btn" %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<%= javascript_include_tag 'typewriter.js' %>