<div class="form-page">
  <div class="form-page__form">
    <h2>Inscription</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "Email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: params[:email] %>
      </div>
      <div class="field">
        <%= f.label "Mot de passe" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "mot-de-passe" %>
      </div>

      <div class="field">
        <%= f.label "Confirmation du mot de passe" %>
        <%= f.password_field :password_confirmation, autocomplete: "mot-de-passe" %>
      </div>

      <div class="actions">
        <%= f.submit "M'inscrire", class:"btn white-btn bg-primary" %>
      </div>
    <% end %>

    <div class="form-page__form--links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>