<p>Bonjour <%= @user.first_name ? @user.first_name : nil %>,</p>
<br/>
<p>Vous avez une <span class="bolder">visite programmée demain à <%= @appointment.slot.start_date.strftime("%H:%M") %></span> pour le logement "<%= @appointment.property.title %>" (<%= @appointment.property.city %>).</p>
<br/>
<% if @appointment.property.instructions && @appointment.property.instructions != "" %>
  <p> Voici les <span class="bolder">précisions du propriétaire pour votre visite</span> :</p>
  <br/>
  <p><em><%= simple_format(@appointment.property.instructions) %></em></p>
  <br/>
<% else %>
  <p>Le propriétaire n'a pas encore indiqué de<span class="bolder">précisions pour votre visite</span> (adresse, digicode, interphone, etc.). Surveillez votre espace immolib, elles ne devraient pas tarder à s'afficher 😉</p>
  <br/>
<% end %>
<%if @appointment.property.owner.phone_number %>
  <p>En cas de problème, contactez le propriétaire au <span class="primary"><%= @appointment.property.owner.phone_number %></span></p>
  <br/>
<%end%>
<% if @appointment.property.owner_project == "rent" %>
  <% unless @appointment.candidate_dossierfacile_link || @appointment.candidate_dossierfacile_folder.attached? || @appointment.candidate_documents.size >= 5 %>
    <p>⚠️ Votre <span class="bolder">dossier de location est incomplet</span>, veuillez transmettre les pièces manquantes depuis votre espace immolib.</p>
    <br/>
  <% end %>
<% end %>
<p>Retrouvez le détail de votre candidature sur votre espace immolib.</p>
<br/>
<p><%= link_to "Voir ma candidature", appointment_url(@appointment), class: "btn" %></p>
<br/>
<p>En cas d’imprévu, pensez à déplacer ou annuler votre rendez-vous le plus tôt possible.</p>
<br/>
<p>Bonne visite 🤗</p>