<div class="container checkout-status">
  <h2 class='success'><i class="fas fa-check-circle"></i>Votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %> a bien été reçu. Merci pour votre confiance&nbsp;!</h2>
  <hr class="hr-black mt2 mb2"/>
  <h1 class="mb2">Dernière étape&nbsp;: partagez votre lien immolib, les candidats n'auront plus qu'à suivre un parcours rapide et guidé&nbsp;!</h1>
  <p class="mb1">A vous de jouer 😉</p>
  <div class="card-white">
    <div class="url-container mb1">
      Message à partager par <span class="text-muted">email</span>, <span class="text-muted">SMS</span> ou sur vos <span class="text-muted">réseaux sociaux</span> :
      <p class="link"> 
        <em>
        <% if @property.owner_project == "rent" %>
          <a>Suivez ce lien pour réserver un créneau de visite et transmettre votre dossier de location : <%= @property.go_visit_url %></a>
        <%else%> 
          <a>Suivez ce lien pour réserver un créneau de visite : <%= @property.go_visit_url %></a>
        <%end%> 
        </em>
        <i class="far fa-copy">
          <span class="copy-text"> Copier </span>
        </i>
      </p>
    </div>
    <div class="url-container">
      Message à partager sur vos <span class="text-muted">annonces en ligne</span> (ex: PaP) :
      <p class="link">
        <em>
        <% if @property.owner_project == "rent" %>
          <a>Copiez-collez ce lien dans votre navigateur pour réserver un créneau de visite et transmettre votre dossier de location : <%= @property.go_visit_url_short %></a>
        <%else%> 
          <a>Copiez-collez ce lien dans votre navigateur pour réserver un créneau de visite : <%= @property.go_visit_url_short %></a>
        <%end%> 
        </em>
        <i class="far fa-copy">
          <span class="copy-text"> Copier </span>
        </i>
      </p>
    </div>
  </div>
  <div class="profile-cta mt2">
    <p>
      💡 Rendez-vous sur votre espace immolib pour compléter vos infos de profil et celles de votre logement 
      <br/><small>Ces informations serviront à
      personnaliser les emails automatiques envoyés aux candidats
      (confirmation de RDV, rappel visite J-1, rappel dossier incomplet, etc.)​</small>
    </p>
    <%= link_to "👉 Découvrir mon espace immolib", user_path(current_user), class:
    'btn big-btn white-btn bg-primary' %>
  </div>
</div>

<%= javascript_include_tag 'clipboard' %>
