<div class="appointment-card">
  <div class="appointment-card__picture">
    <%if appointment.slot.property.property_picture.attached?%>
      <%= image_tag appointment.slot.property.property_picture, alt: 'property_picture' %>
    <%else%>
      <div class="appointment-card__picture__no-picture">
        <p>Pas de photo du logement</p>
      </div>
    <%end%>
  </div>
  <div class="appointment-card__text">
    <p><%= appointment.slot.property.title %> (<%= appointment.slot.property.city %>)</p>
    <%if appointment.slot.start_date > DateTime.now%>
      <p>Prochaine visite prévue le <%= appointment.slot.start_date.strftime("%d/%m") %> à <%= appointment.slot.start_date.strftime("%H:%M") %></p>
    <%elsif appointment.slot.start_date < DateTime.now%>
      <p>Dernière visite réalisée le <%= appointment.slot.start_date.strftime("%d/%m") %> </p>
    <%else%>
      <p>Vous n'avez pas de visite programmée</p>
    <%end%>
  </div>
</div>