<div class="property-card">
  <div class="property-card__picture <%= unpaid ? ('unpaid') : nil %>">
    <%if property.property_picture.attached?%>
      <%= image_tag property.property_picture, alt: 'property_picture' %>
    <%else%>
      <div class="property-card__picture__no-picture">
        <p>Ajoutez une photo en éditant votre logement</p>
      </div>
    <%end%>
  </div>
  <div class="property-card__text">
    <p><%= property.title %></p>
    <p class="mb1"><%= property.city %></p>
    <%if property.is_paid %>
      <p class="primary"><small><%= property.candidates.size %> <%= property.candidates.size > 1 ? "candidatures" : "candidature" %></small></p>
      <%if property.slots.order("start_date DESC")[0].start_date > DateTime.now%>
        <p><small>Prochaine visite prévue le <%= property.slots.order("start_date DESC")[0].start_date.strftime("%d/%m") %> à <%= property.slots.order("start_date DESC")[0].start_date.strftime("%H:%M") %></small></p>
      <%elsif property.slots.order("start_date DESC")[0].start_date < DateTime.now%>
        <p><small>Dernière visite réalisée le <%= property.slots.order("start_date DESC")[0].start_date.strftime("%d/%m") %> à <%= property.slots.order("start_date DESC")[0].start_date.strftime("%H:%M") %></small></p>
      <%else%>
        <p><small>Aucune visite programmée</small></p>
      <%end%>
    <%else%>
      <p class="danger"><small>⚠️ Veuillez procéder au paiement pour valider votre logement</small></p>
    <%end%>
  </div>
</div>