<div class="profile-wrapper">
  <%= link_to raw("<i class='fas fa-chevron-left'></i> Retourner à l'accueil "), root_path, class: "return-link" %>
  <h2> Mes informations personnelles </h2>
    <div class="profile-wrapper__informations">
      <div class="profile-wrapper__informations__left">
        <p> Prénom : <%= @user.first_name %>
        <p> Nom : <%= @user.last_name %>
        <p> Adresse mail : <%= @user.email %>
      </div>
      <%if @user.profile_picture.attached?%>
        <div>
          <div class="profile-wrapper__informations__right">
            <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
          </div>
          <%= link_to "Supprimer la photo de profil", user_profile_picture_path(current_user), method: "delete", class: "delete-profile-picture"  %>
        </div>
      <%else%>
        <div class="profile-wrapper__informations__right nopic">
          <p> Ajouter une photo de profil </p>
        </div>
        <div class="picture-profile-modal hidden">
          <%= render "profile-picture-form" %>
        </div>
      <%end%>
    </div>
    <p><%= link_to "Éditer mon profil", edit_user_path(@user), class: "btn white-btn bg-primary" %></p>

    <h2> Mes logements </h2>

    <% if current_user.properties.count > 0 %>
      <div class="properties-wrapper">
        <% current_user.properties.each do |p| %>
          <% if p.is_paid %>
            <%# Insérer ci-dessous le lien le property#show /!\ %>
            <%= link_to render(partial: 'property-card', locals: {property: p}), property_path(p) %>
          <% else %>
            <%= link_to render(partial: 'property-card', locals: {property: p}), checkout_create_path(price: 49.99, property: p), remote: true, method: :post %>
          <% end %>
        <% end %>
      </div>

    <% else %>
      <p> Vous n'avez pas de logement ajouté sur Immolib. </p>
    <% end %>

    <h2> Mes visites </h2>

    <% if current_user.appointments.count > 0 %>
      <div class="properties-wrapper">
        <% current_user.appointments.each do |appointment| %>
          <%= link_to render(partial: 'appointment-card', locals: {appointment: appointment}), appointment_path(appointment) %>
        <% end %>
      </div>
      
    <% else %>
      <p> Vous n'avez pas de visite programmée sur Immolib. </p>
    <% end %>

<%if !@user.profile_picture.attached?%>
  <%= javascript_include_tag 'profile-pic.js' %>
<% end %>
</div>