<div class="profile-wrapper">
  <%= link_to raw("<i class='fas fa-chevron-left'></i> Retourner à l'accueil "), root_path, class: "return-link" %>

  <h2> Mes informations personnelles </h2>
  
  <div class="profile-wrapper__informations">
    <div class="profile-wrapper__informations__left">
      <p>
        <span class='text-muted'>Prénom&nbsp;:</span>
        <%= @user.first_name %>
      </p>
      <p>
        <span class='text-muted'>Nom&nbsp;:</span>
        <%= @user.last_name %>
      </p>
      <p>
        <span class='text-muted'>Adresse mail&nbsp;:</span>
        <%= @user.email %>
      </p>
    </div>
    <%if @user.profile_picture.attached?%>
      <div>
        <div class="pic profile-wrapper__informations__right">
          <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
          <p class="profile-wrapper__informations__right--change"> Modifier </p>
        </div>
        <%= link_to "Supprimer la photo", user_profile_picture_path(current_user), method: "delete", class: "delete-profile-picture"  %>
      </div>
    <%else%>
      <div class="pic profile-wrapper__informations__right nopic">
        <p> Ajouter une photo de profil </p>
      </div>
    <%end%>
    <%= render(
      partial: 'layouts/picture_modal',
      locals: {
        url: user_profile_pictures_path(@user),
        type: :profile_picture
      }
    ) %>
  </div>
  <p><%= link_to "Éditer mon profil", edit_user_path(@user), class: "btn white-btn bg-primary" %></p>

  <% if @user.properties.count == 0 && @user.appointments.count == 0 %>

    <h2> Vous souhaitez vendre ou louer un logement&nbsp;? </h2>
    <p><%= link_to "Organisez vos visites dès maintenant", new_property_path, class: "btn white-btn bg-primary" %></p>

    <h2> Vous souhaitez répondre à une annonce&nbsp;? </h2>
    <p class="mb2">Rendez-vous directement sur l’annonce en ligne (Leboncoin, PaP, SeLoger, etc.) et copiez-collez dans votre navigateur le lien immolib renseigné par le propriétaire.</p>

  <% end %>

  <% if @user.properties.count > 0 %>

    <h2> Mes logements </h2>

    <div class="properties-wrapper">
      <% @user.properties.each do |p| %>
        <% if p.is_paid %>
          <div class="property">
            <%= link_to render(partial: 'property-card', locals: {property: p, unpaid: false}), property_path(p) %>
          </div>
        <% else %>
          <div class="property">
            <%= link_to render(partial: 'property-card', locals: {property: p, unpaid: true}), checkout_index_path(price: 29.99, property: p), remote: true, method: :post %>
            <p class="text-center pt1"> <%= link_to "Supprimer ce logement", property_path(p), method: "delete", data: {confirm: "Êtes-vous sûr ? Cette action est irréversible."}%> </p>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2> Vous souhaitez vendre ou louer un autre logement&nbsp;? </h2>
    <p><%= link_to "Organisez vos visites dès maintenant", new_property_path, class: "btn white-btn bg-primary" %></p>

  <% end %>

  <% if @user.appointments.count > 0 %>

    <h2> Mes candidatures </h2>
    
    <div class="properties-wrapper">
      <% @user.appointments.order("created_at DESC").each do |appointment| %>
        <%= link_to render(partial: 'appointment-card', locals: {appointment: appointment} ), appointment_path(appointment) %>
      <% end %>
    </div>

    <% if @user.properties.count == 0 %>
      <h2> Vous souhaitez vendre ou louer un logement&nbsp;? </h2>
      <p class="mb2"><%= link_to "Organisez vos visites dès maintenant", new_property_path, class: "btn white-btn bg-primary" %></p>
    <% end %>

  <% end %>
</div>