<div class="container">
  <div class="text-center section-title">
    <h1>Etape 1/3 : renseignez les informations clés de votre logement</h1>
    <p class="mt2">Vous pourrez les modifier ou les compléter à tout moment dans votre espace immolib</p>
  </div>
  <div class="form-page">
    <div class="form-page__form">
      <p class="mb2 text-center"><em>Ces informations permettront à vos candidats de s’assurer qu’ils répondent bien à votre annonce</em></p>
      <p class='toggle-label'>Je souhaite *</p>
      <div class='sell-rent-wrapper'>
        <p>Louer</p>
        <div class='sell-rent-toggle'>
          <button class='rent-btn'></button>
          <button class='sell-btn'></button>
          <div></div>
        </div>
        <p>Vendre</p>
      </div>
      <%= form_with model: property, url: properties_path, local: true, class: "form", id: "item-form", multipart: true do |f| %>
        <%= f.hidden_field :owner_project %>
        <div class="form-group mb2">
          <%= f.label "Titre du logement *", class: "form-label" %>
          <p><small>💡 Conseil : indiquez le même titre que celui de votre annonce en ligne (ex : PaP)</small></p>
          <%= f.text_field :title, class: "form-control", placeholder: "Donnez un titre à votre logement", required: true %>
        </div>
        <div class="form-group mb2">
          <%= f.label "Ville *", class: "form-label" %>
          <%= f.text_field :city, class: "form-control", placeholder: "Indiquez la ville de votre logement", required: true %>
        </div>
        <div class="form-group mb2">
          <%= f.label "Photo de votre logement", class: "form-label" %>
          <%= f.file_field :property_picture, is: "drop-files", label: "Télécharger une photo de votre logement", help: "Vous pouvez la glisser-déposer ici", accept: 'image/png,image/gif,image/jpeg' %>
        </div>
        <div class="form-group mb2">
          <%= f.label "URL d'une annonce en ligne", class: "form-label" %>
          <%= f.text_field :other_link, class: "form-control", placeholder: "Copiez-collez l'URL d'une annonce en ligne (ex : PaP.fr)" %>
        </div>
        <div class="form-group mb2">
          <%= f.label "Instructions pour les visites", class: "form-label" %>
          <p><small><i class="fas fa-info-circle"></i> Ces instructions ne seront transmises qu'à l'approche du jour J pour guider vos visiteurs.</small></p>
          <%= f.text_area :instructions, class: "form-control", placeholder: "Indiquez ici vos instructions pour les visites (ex : adresse exacte ou lieu de rendez-vous, digicode, interphone, etc.)." %>
        </div>
        <div>
          <%= f.submit "Valider et passer à l'étape suivante", class: "btn white-btn bg-primary" %>
        </div>
      <%end%>
    </div>
  </div>
</div>

<%= javascript_include_tag 'sell-rent-toggle' %>