<div class="candidate-section-title">
  <h1 class="primary">Mon logement</h1>
</div>
<h3 class="bolder"><%= property.title%></h3>
<p><%= property.city%></p>
<div class="card-white">
  <p>💡 <span class="bolder">Partagez votre lien immolib : les candidats n'auront plus qu'à suivre un parcours simple et rapide&nbsp;!</span></p>
  <div class="url-container">
    Lien à partager par <span class="text-muted">email</span>, <span class="text-muted">SMS</span> ou sur vos <span class="text-muted">réseaux sociaux</span> :
    <p class="link"> 
      <a><%= property.go_visit_url %></a> 
      <i class="far fa-copy">
        <span class="copy-text"> Copier le lien </span>
      </i>
    </p>
  </div>
  <div class="url-container mb1">
    Lien à partager directement sur vos <span class="text-muted">annonces en ligne</span> (ex: PaP) :
    <p class="link">
      <a><%= property.go_visit_url_short %></a> 
      <i class="far fa-copy">
        <span class="copy-text"> Copier le lien </span>
      </i>
    </p>
  </div>
  <%= link_to "Mon logement", "#property-section-1", class: "btn outline-btn-white" %>
  <%= link_to "Mes visites", "#property-section-2", class: "btn outline-btn-white" %>
  <%= link_to "Mes candidats", "#property-section-3", class: "btn outline-btn-white" %>
</div>
<p class="mt1"><%= link_to "Supprimer mon logement", property_path(property), method: "delete", data: {confirm: "Êtes-vous sûr ? Cette action est irréversible."}, class:"btn small-btn white-btn bg-warning"%></p>
<small><em><i class="fas fa-info-circle"></i> En cas de visites prévues elles seront automatiquement annulées<br/> Les candidats seront automatiquement prévenus par email</em></small>