<div class="candidate-section-title">
  <h1 class="primary">Mon logement</h1>
</div>
<h3 class="bolder"><%= property.title%></h3>
<p><%= property.city%></p>
<div class="card-white">
  <p class="mb2">💡 <span class="bolder">Partagez votre lien immolib : les candidats n'auront plus qu'à suivre un parcours simple et rapide&nbsp;!</span></p>
  <div class="url-container mb1">
    Message à partager sur vos <span class="text-muted">annonces en ligne</span> (ex : PaP) :
    <p class="link">
      <em>
      <% if property.owner_project == "rent" %>
        <a>Copiez-collez ce lien dans votre navigateur pour réserver un créneau de visite et transmettre votre dossier de location : <span class="bolder"><%= property.go_visit_url_short %></span></a>
      <%else%> 
        <a>Copiez-collez ce lien dans votre navigateur pour réserver un créneau de visite : <span class="bolder"><%= property.go_visit_url_short %></span></a>
      <%end%> 
      </em>
      <i class="far fa-copy">
        <span class="copy-text"> Copier </span>
      </i>
    </p>
  </div>
  <div class="url-container mb1">
    Message à partager par <span class="text-muted">email</span>, <span class="text-muted">SMS</span> ou sur vos <span class="text-muted">réseaux sociaux</span> :
    <p class="link"> 
      <em>
      <% if property.owner_project == "rent" %>
        <a>Suivez ce lien pour réserver un créneau de visite et transmettre votre dossier de location : <span class="bolder"><%= property.go_visit_url %></span></a>
      <%else%> 
        <a>Suivez ce lien pour réserver un créneau de visite : <span class="bolder"><%= property.go_visit_url %></span></a>
      <%end%> 
      </em>
      <i class="far fa-copy">
        <span class="copy-text"> Copier </span>
      </i>
    </p>
  </div>
  <hr class="hr-grey mw80 mt2 mb2">
  <%= link_to "Mon logement", "#property-section-1", class: "btn outline-btn-white" %>
  <%= link_to "Mes visites", "#property-section-2", class: "btn outline-btn-white" %>
  <%= link_to "Mes candidats", "#property-section-3", class: "btn outline-btn-white" %>
</div>
<% unless property.candidates.size > 0 %>
  <p class="mt1"><%= link_to "Supprimer mon logement", property_path(property), method: "delete", data: {confirm: "Êtes-vous sûr ? Cette action est irréversible."}, class:"btn small-btn white-btn bg-warning"%></p>
<%end%>