<div class="candidate-profile-details-wrapper">
  <div class="candidate-profile-details-section">
    <% if appointment.candidate.profile_picture.attached?%>
      <div class="profile-wrapper__informations__right mb1">
        <%= image_tag appointment.candidate.profile_picture, alt: 'profile picture' %>
      </div>
    <% else %>
      <div class="profile-wrapper__informations__right nopic mb1">
        <p> Aucune photo de profil </p>
      </div>
    <% end %>
    <% if appointment.candidate.first_name && appointment.candidate.last_name %>
      <h3> <%= appointment.candidate.first_name %> <%= appointment.candidate.last_name %> </h3>
    <% end %>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="fas fa-at"></i> Email</p>
    <p><%= appointment.candidate.email %></p>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="far fa-calendar-check"></i></i> Visite</p>
      <%if appointment.slot.start_date > DateTime.now%>
      <p>Prochaine visite prévue le <%= appointment.slot.start_date.strftime("%d/%m") %> à <%= appointment.slot.start_date.strftime("%H:%M") %></p>
    <%elsif appointment.slot.start_date < DateTime.now%>
      <p>Dernière visite réalisée le <%= appointment.slot.start_date.strftime("%d/%m") %> à <%= appointment.slot.start_date.strftime("%H:%M") %></p>
    <%else%>
      <p>Aucune visite programmée</p>
    <%end%>
  </div>

  <div class="candidate-profile-details-section">
    <p class="bolder"><i class="far fa-comment"></i> Message </p>
    <% if appointment.candidate_message %>
      <p><em><%= simple_format(appointment.candidate_message) %></em></p>
    <% else %>
      <p><small><em> Ce candidat ne vous a pas encore adressé de message</em></small></p>
    <% end %>
  </div>

  <% if appointment.slot.property.owner_project == "rent" %>
    <div class="candidate-profile-details-section">

      <% if appointment.candidate_dossierfacile_folder.attached? %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location (réalisé via <%= link_to "DossierFacile", "https://www.dossierfacile.fr/", class:"primary", target: '_blank' %>)</p>
        <p class="mb1"><small><em>DossierFacile est une plateforme publique gratuite d'aide à la création de dossier de location. Elle joue le rôle de tiers de confiance entre locataires et propriétaires.</em></small></p>
        <div class="candidate-document mb1">
          <p>
            <%= appointment.candidate_dossierfacile_folder.filename %> 
            <%# if doc.previewable? %>
              <%= link_to raw("<i class='far fa-eye'></i>"), rails_blob_path(appointment.candidate_dossierfacile_folder, disposition: 'preview'), target: '_blank' %>
            <%# end %> 
            <%= link_to raw("<i class='fas fa-download'></i>"), rails_blob_path(appointment.candidate_dossierfacile_folder, disposition: 'attachment') %>
          </p>
          <% if appointment.candidate_dossierfacile_link && appointment.candidate_dossierfacile_link != "" %>
            <p class="mt1">Lien de son dossier : <%= link_to appointment.candidate_dossierfacile_link, appointment.candidate_dossierfacile_link, target: '_blank' %></p>
          <% end %>
        </div>
        <p><small> ✔️ Dossier complet</small></p>

      <% elsif appointment.candidate_dossierfacile_link && appointment.candidate_dossierfacile_link != "" %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location (réalisé via <%= link_to "DossierFacile", "https://www.dossierfacile.fr/", class:"primary", target: '_blank' %>)</p>
        <p class="mb1"><small><em>DossierFacile est une plateforme publique gratuite d'aide à la création de dossier de location. Elle joue le rôle de tiers de confiance entre locataires et propriétaires.</em></small></p>
        <p class="mb1">Lien de son dossier : <%= link_to appointment.candidate_dossierfacile_link, appointment.candidate_dossierfacile_link, target: '_blank' %></p>
        <p><small> ✔️ Dossier complet</small></p>

      <% elsif appointment.candidate_documents.attached? %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location</p>
        <% appointment.candidate_documents.each do |doc| %>
          <div class="candidate-document">
            <p>
              <%= doc.filename %> 
              <%# if doc.previewable? %>
                <%= link_to raw("<i class='far fa-eye'></i>"), rails_blob_path(doc, disposition: 'preview'), target: '_blank' %>
              <%# end %> 
              <%= link_to raw("<i class='fas fa-download'></i>"), rails_blob_path(doc, disposition: 'attachment') %>
            </p>
          </div>
        <% end %>
        
        <p><progress id="file" max="5" value="<%=appointment.candidate_documents.size%>" class="<%=appointment.candidate_documents.size > 4 ? 'full' : nil %>"> </progress></p>
        <% if appointment.candidate_documents.size < 5 %>
          <p><small>Documents transmis : <%= appointment.candidate_documents.size %> / 5</small></p>
        <% else %>
          <p><small> ✔️ Dossier complet</small></p>
        <% end %>
      
      <% else %>
        <p class="bolder"><i class="far fa-folder-open"></i> Dossier de location</p>
        <p><small><em>Ce candidat n'a pas encore transmis de documents</em></small></p>
      <% end %>
    </div>
  <% end %>

  <hr class="hr-black mt2 mb2"/>

  <div class="candidate-profile-details-section text-center">
    <p> Cette candidature ne vous convient pas ? </p>
    <%= link_to "Refuser la candidature", appointment_path(id: appointment, owner: true), method: "delete", data: {confirm: "Êtes-vous sûr ? Cette action est irréversible."}, class:"btn small-btn white-btn bg-warning" %>
    <p><small><em><i class="fas fa-info-circle"></i> En cas de refus, le candidat sera automatiquement prévenu par email</em></small></p>
  </div>
</div>