<%= link_to raw("<i class='fas fa-chevron-left'></i> Retour"), user_path(current_user), class: "return-link ml4 pt1" %>
<div class="container-small text-center">
  <%= render partial:"property_intro", locals: {property: @property} %>
</div>
<div class="container">
  <hr/>
</div>
<div class="container-small text-center" id='property-section-1'>
  <h1 class="primary mb2">Mon logement</h1>
  <%if @property.property_picture.attached? %>
    <div class="pic property-picture">
      <div>
        <%= image_tag @property.property_picture, alt: 'property picture' %>
        <p class="property-picture--change"> Modifier </p>
      </div>
      <%if @property.property_picture.filename != 'property_placeholder.png' %>
        <%= link_to "Supprimer la photo", property_property_picture_path(@property), method: "delete", class: "delete-property-picture pt1"  %>
      <%end%>
    </div>
  <%end%>
  <%= render(
    partial: 'layouts/picture_modal',
    locals: {
      url: property_property_pictures_path(@property),
      type: :property_picture
    }
  ) %>
  <div class="mt2">
    <h3> <%= @property.title %> </h3>
    <p class="mb1"> <%= @property.city %> </p>
    <p><i class="far fa-arrow-alt-circle-right"></i> Mon  annonce en ligne</p>
    <% if @property.other_link == "" %>
      <p class="mb1"><small><em>⚠️  Editez votre logement pour indiquer le lien vers une annonce en ligne (ex : PaP)</em></small></p>
    <% else %>
      <p class="mb1"> <%= link_to @property.other_link, @property.other_link, target: '_blank' %> </p>
    <% end %>
    <p><i class="far fa-arrow-alt-circle-right"></i> Mes instructions de visite</p>
    <% if @property.instructions == "" %>
      <p class="mb1"><small><em>⚠️  Editez votre logement pour indiquer vos instructions aux candidats (adresse, digicode, interphone, téléphone, etc.)<br/> Ces informations seront automatiquement communiquées aux candidats à l'approche d'une visite</em></small></p>
    <% else %>
      <p><em><%= simple_format(@property.instructions) %></em></p> 
    <% end %>
    <p><%= link_to "Éditer mon logement", edit_property_path(@property), class:"btn small-btn white-btn bg-primary" %></p>
  </div>
</div>
<div class="container">
  <hr/>
</div>
<div class="container-small text-center" id='property-section-2'>
  <h1 class="primary mb2">Mes visites</h1>
  <div class="mb2">
    <% if @property.owner_project == "rent" %>
      <p>💡 <span class="bolder">Cliquez sur un créneau à venir pour voir la liste des candidats inscrits et leur dossier<span class="bolder"></p>
    <% else %>
      <p>💡 <span class="bolder">Cliquez sur un créneau à venir pour voir la liste des candidats inscrits et leur profil<span class="bolder"></p>
    <% end %>
  </div>
  <%= render(partial: 'calendar') %>
  <% if @property.has_available_slot? == false %>
    <p class="mt2"><small><em>⚠️  Aucun créneau de visite disponible. Vous pourriez passer à côté de nouveaux candidats...</em></small></p>
  <% end %>  
  <%= link_to 'Ajouter un créneau de visite', new_property_slot_path(@property, redirect_path: "existing_property"), class:"btn small-btn white-btn bg-primary" %>
</div>
<div class="container">
  <hr/>
</div>
<div class="container-small" id='property-section-3'>
  <h1 class="primary mb2 text-center">Mes candidats</h1>
  <% if @property.candidates.size > 0 %>
    <p class="mb1 text-center">💡 <span class="bolder">Cliquez sur un candidat pour voir sa fiche détaillée</span></p>
    <div class="candidates-wrapper pl2 pr2">
      <div class="candidates-wrapper-left">
        <div class="candidates-wrapper__content">
          <% firstSlot = true %>
          <% @property.appointments.each do |a| %>
            <%= link_to render(partial: "candidate_list", locals: {a: a, first: firstSlot}), property_candidate_details_path(@property, appointment: a), remote: true %>
            <% firstSlot = false %>
          <% end %>
        </div>
      </div>
      <div class="candidates-wrapper-right">
        <%= render(partial: "show_candidate_details", locals: {appointment: @property.appointments.first}) %>
      </div>
    </div>
  <% else %>
    <div class="text-center">
      <p class="mb2"><small><em> Vous n'avez pas encore de candidats pour ce logement</em></small></p>
      <div class="mb2">
        <p>💡 <span class="bolder">Partagez votre lien immolib : les candidats n'auront plus qu'à suivre un parcours simple et rapide&nbsp;!</span></p>
        <div class="url-container">
          Lien à partager par <span class="text-muted">email</span>, <span class="text-muted">SMS</span> ou sur vos <span class="text-muted">réseaux sociaux</span> :
          <p class="link"> 
            <a><%= @property.go_visit_url %></a> 
            <i class="far fa-copy">
              <span class="copy-text"> Copier le lien </span>
            </i>
          </p>
        </div>
        <div class="url-container mb1">
          Lien à partager directement sur vos <span class="text-muted">annonces en ligne</span> (ex: PaP) :
          <p class="link">
            <a><%= @property.go_visit_url_short %></a> 
            <i class="far fa-copy">
              <span class="copy-text"> Copier le lien </span>
            </i>
          </p>
        </div>
      </div>
      <% if @property.has_available_slot? == false %>
        <p class="mb2"><small><em>⚠️  Pensez à proposer des créneaux de visite pour ce logement</em></small></p>
      <% else %>
        <p class="mb2"><small><em>⚠️  Ajoutez de nouveaux créneaux de visites pour optimiser le nombre de candidats </em></small></p>
      <% end %>
    </div>
  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<%= javascript_include_tag 'clipboard' %>