<div class="welcome-page candidate">
  <h1 class="primary"> Bienvenue ! </h1>
  <div class="welcome_user-wrapper">
    <div class="welcome_user-wrapper__left">
      <p class="bolder primary">Rappel de l'annonce</p>
      <p><%= @property.title%></p>
      <small><p><%= @property.city%></p></small>
      <small><%= @property.other_link%></small>
      <%if @property.property_picture.attached?%>
        <%= image_tag @property.property_picture, alt: 'property picture', class: "house-picture" %>
      <% end %>
    </div>
    <div class="welcome_user-wrapper__right">
      <p>Je vous invite à sélectionner un créneau de visite disponible, à me transmettre les documents administratifs demandés, 
        et à m’écrire, si vous le souhaitez, quelques lignes à propos de vous et de votre projet.</p>
      <p>
        A très bientôt<%=@property.owner.first_name? ? ',' : '.' %>
      </p>
      <%if @property.owner.first_name?%>
        <p><%= @property.owner.first_name %></p>
      <% end %>
      
      <% if user_signed_in? %>
      <%= link_to "C'est parti !", book_now_property_path(@property), class: "btn big-btn bg-primary white-btn" %>
        <% else %>
        <%= link_to "C'est parti !", book_property_path(@property), class: "btn big-btn bg-primary white-btn" %>
      <% end %>
      
      
    </div>
  </div>
</div>