<%= week_calendar(events: slots, attribute: :start_date) do |date, slots| %>
  <div class="property-wrapper__right__date">
    <%= date.strftime("%d") %> <%= date_arr[date.strftime("%m").to_i]%>
  </div>

  <% slots.each do |slot| %>
    <% if slot.candidates.include?(current_user) || !slot.available? || !user_signed_in? || slot.is_past? %>
      <%= render(partial: "properties/slot-card", locals: { slot: slot })%>
    <% elsif @new_candidate == true %>
      <%= link_to render(partial: "properties/slot-card", locals: { slot: slot }), appointments_path(param1: slot.id, property: property, new_candidate: true), method: "post" %>
    <% else %>
      <%= link_to render(partial: "properties/slot-card", locals: { slot: slot }), appointment_candidate_slot_path(@appointment, param1: slot.id, property: property, new_candidate: false), method: "patch" %>
    <% end %>  

  <% end %>
<% end %>