<div class="candidate-section-title">
  <h1 class="primary">Ma candidature</h1>
</div>
<p class="bolder"><%= appointment.property.title%></p>
<p><%= appointment.property.city%></p>
<%if appointment.property.other_link%>
  <p><small><%= link_to appointment.property.other_link, appointment.property.other_link, target: '_blank' %></small></p>
<%end%>
<div class="form-page">
  <div class="form-page__form">
    <div class="mb2">
      <%if appointment.slot.is_past? %>
        <%if appointment.is_accepted == true %>
          <%if appointment.property.owner_project == "rent" %>
            <div class="text-center">
              <p class="mb1">🥳 <span class="bolder green">Félicitations, votre candidature a été retenue !</span></p>
              <p>Surveillez vos emails : le propriétaire prendra contact directement avec vous pour la <span class="bolder">signature du contrat de location</span></p>
            </div>
          <%else%>
            <div class="text-center">
              <p class="mb1">🥳 <span class="bolder green">Félicitations, votre offre a été acceptée !</span></p>
              <p>Surveillez vos emails : le propriétaire prendra contact directement avec vous pour la <span class="bolder">signature de la promesse de vente</span></p>
            </div>
          <%end%>
        <%elsif appointment.is_accepted == false %>
          <%if appointment.property.owner_project == "rent"%>
            <div class="text-center">
              <p class="mb1">⚠️ <span class="bolder danger">Désolé, votre candidature n'a pas été retenue</span></p>
              <p>Bon courage dans vos recherches !</p>
            </div>
          <%else%>
            <div class="text-center">
              <p class="mb1">⚠️ <span class="bolder danger">Désolé, votre offre n'a pas été acceptée</span></p>
              <p>Bon courage dans vos recherches !</p>
            </div>
          <%end%>
        <%else%>
          <%if appointment.is_interested == true %>
            <%if appointment.property.owner_project == "rent"%>
              <p class="text-center"> 👍 <span class="bolder">Vous avez confirmé votre intérêt pour ce logement</span></p>
              <p><small><em>Votre confirmation a été transmise au propriétaire. Il reviendra vers vous dès que possible pour donner suite à votre candidature.</em></small></p>
              <p class="mt2"><small>💡 Accompagnez votre réponse de précisions écrites en modifiant votre message au propriétaire : vos motivations, les atouts de votre candidature...</small></p>
            <%else%>
              <p class="text-center">👍 <span class="bolder">Vous avez fait une offre d'achat pour ce logement</span></p>
              <p><small><em>Votre offre a été transmise au propriétaire. Il reviendra vers vous dès que possible pour donner suite à votre proposition.</em></small></p>
              <p><small><i class="fas fa-info-circle"></i> Contrairement à la signature d'un compromis de vente, votre offre d'achat ne vous engage pas : vous pouvez vous retracter à tout moment.</small></p>
              <p class="mt2"><small>⚠️ Accompagnez votre offre de précisions écrites en modifiant votre message au propriétaire : rappel de votre identité complète, date et durée de validité de l'offre, moyen(s) de financement utilisé(s), justifications en cas de négociation du prix...</small></p>
            <%end%>
          <%elsif appointment.is_interested == false %>
            <p class="text-center">👎 <span class="bolder">Vous avez indiqué ne pas être intéressé(e) par ce logement</span></p>
            <p><small><em>Merci pour votre retour, votre décision a été transmise au propriétaire.</em></small></p>
          <%else%>
            <%if appointment.property.owner_project == "rent"%>
              <p class="text-center bolder">Souhaitez-vous louer ce logement ?</p>
              <p class="mb1"><small><em>Votre réponse sera automatiquement transmise au propriétaire</em></small></p>
              <p><small>💡 Vous pourrez l'accompagner de précisions écrites en modifiant votre message au propriétaire : vos motivations, atouts de votre candidature...</small></p>
            <%else%>
              <p class="text-center bolder">Souhaitez-vous faire une offre d'achat pour ce logement ?</p>
              <p class="mb1"><small><em>Votre offre sera automatiquement transmise au propriétaire</em></small></p>
              <p><small>💡 Vous pourrez l'accompagner de précisions écrites en modifiant votre message au propriétaire : date et durée de validité de l'offre, moyen(s) de financement utilisé(s), justifications en cas de négociation du prix...</small></p>
            <%end%>
            <div class='decision-wrapper'>
              <p>Oui</p>
              <div class='yes-no-toggle'>
                <button class='yes-btn'></button>
                <button class='no-btn'></button>
                <div></div>
              </div>
              <p>Non</p>
            </div>
            <%= form_with model: appointment, url: appointment_candidate_decision_path(appointment), method: "patch", local: true, class: "form", id: "item-form", multipart: true do |f| %>
              <%= f.hidden_field :is_interested %>
              <div>
                <%= f.submit "Valider", class: "btn white-btn bg-primary" %>
              </div>
            <%end%>
          <%end%>
          <%= javascript_include_tag 'candidate-yes-no-toggle' %>
        <%end%>
      <%else%>
        <%if appointment.is_accepted == false %>
          <div class="text-center">
            <p class ="mb1">⚠️ <span class="bolder danger">Désolé, votre candidature n'a pas été retenue</span></p>
            <p>Bon courage dans vos recherches !</p>
          </div>
        <%else%>
          <p><i class="fas fa-info"></i> <span class="bolder">Vous pourrez confirmer ou non votre intérêt pour ce logement à l'issue d'une visite</span></p>
        <%end%>
      <%end%>
    </div>
    <hr class="hr-grey mw80 mb2">
    <%= link_to "Mes visites", "#candidate-section-1", class: "btn outline-btn-white" %>
    <%= link_to "Mon message", "#candidate-section-2", class: "btn outline-btn-white" %>
    <%if appointment.property.owner_project == "rent"%>
      <%= link_to "Mon dossier", "#candidate-section-3", class: "btn outline-btn-white" %>
    <%end%>
    <hr class="hr-grey mw80 mb2 mt2">
    <p class="text-center"><%= link_to "Supprimer ma candidature", appointment_path(@appointment), method: "delete", data: {confirm: "Êtes-vous sûr de supprimer cette candidature ? Cette action est irréversible."}, class:"btn white-btn bg-warning small-btn" %></p>
    <%if appointment.property.owner_project == "rent"%>
      <p><small><em><i class="fas fa-info-circle"></i> Les documents de votre dossier seront automatiquement supprimés <br/>Votre rendez-vous sera automatiquement annulé en cas de visite à venir</em></small></p>
    <%else%>
      <p><small><em><i class="fas fa-info-circle"></i> Votre rendez-vous sera automatiquement annulé en cas de visite à venir</em></small></p>
    <%end%>
  </div>
</div>