<%= link_to raw("<i class='fas fa-chevron-left'></i> Retour"), user_path(current_user), class: "return-link ml4 pt1" %>
<div class="welcome-page candidate appointment-show">
  <h1 class="primary"> Ma candidature </h1>
</div>
  <div class="container">
    <div class="appointment-section">
      <%= render partial:"candidate_show_property", locals: {appointment: @appointment} %>
    </div>
  </div>
  <div class="container">
    <div class="appointment-section">
      <p class="bolder primary">Mon créneau de visite</p>
      <%= render partial:"candidate_calendar", locals: {property: @appointment.property, slots: @slots, date_arr: @date_arr} %>
    </div>
  </div>
  <div class="container">
    <div class="appointment-section">
      <p class="bolder primary">Mon message au propriétaire</p>
      <%= render partial:"candidate_message", locals: {appointment: @appointment} %>
    </div>
  </div>
  <%if @appointment.property.owner_project == "rent"%>
  <div class="container">
    <div class="appointment-section">
      <%= render partial:"candidate_folder", locals: {appointment: @appointment} %>
    </div>
  </div>
  <%end%>
  <p class="text-center mb2"><%= link_to "Supprimer ma candidature", appointment_path(@appointment), method: "delete", data: {confirm: "Êtes-vous sûr de supprimer cette candidature ? Cette action est irréversible."}, class:"btn white-btn bg-warning small-btn" %></p>