<footer class="footer">
  <div class="row">
    <%= link_to 'https://github.com/Beygs', class: 'item', target: '_blank' do %>
      <i class='fab fa-twitter footicon'></i>
    <% end %>
    <%= link_to 'https://github.com/looping124', class: 'item', target: '_blank' do %>
      <i class="fab fa-facebook-f footicon"></i>
    <% end %>
    <%= link_to 'https://github.com/keeev90', class: 'item', target: '_blank' do %>
      <i class='fab fa-github footicon'></i>
    <% end %>
    <%= link_to 'https://github.com/pierre-pellegrino', class: 'item', target: '_blank' do %>
      <i class="fab fa-youtube footicon"></i>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'A Propos', 'https://github.com/keeev90/Immolib', class: 'item', target: '_blank' %>
    <%= link_to 'Nos Projets', 'https://lopoticha.herokuapp.com', class: 'item', target: '_blank' %>
    <%= link_to "FAQ", faq_path, class:"item" %>
    <%= link_to 'Nos engagements 🌳', 'https://climate.stripe.com/SBYrPT', class: 'item', target: '_blank' %>
  </div>

  <div class="row">
    <p class="love">Fait avec <i class="fas fa-heart"></i> - THP</p>
  </div>
</footer>