<footer class="footer">
  <div class="row">
    <%= link_to '#', class: 'item', target: '_blank' do %>
      <i class='fab fa-twitter footicon'></i>
    <% end %>
    <%= link_to '#', class: 'item', target: '_blank' do %>
      <i class="fab fa-facebook-f footicon"></i>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'A propos', '#', class: 'item', target: '_blank' %>
    <%= link_to 'Nous contacter', '#', class: 'item', target: '_blank' %>
    <%= link_to 'Mentions légales', '#', class: 'item', target: '_blank' %>
    <%= link_to "FAQ", faq_path, class:"item" %>
    <%= link_to 'Nos engagements 🌳', 'https://climate.stripe.com/SBYrPT', class: 'item', target: '_blank' %>
  </div>

  <div class="row">
    <p class="love">Fait avec <i class="fas fa-heart"></i> - team immolib</p>
  </div>
</footer>